body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.house1{
  background-image: url(./images/house5.jpg);
  background-size: 100% 100%;
}
.house2{
  background-image: url(./images/house2.jpg);
  background-size: 100% 100%;
}
.house3{
  background-image: url(./images/house3.jpg);
  background-size: 100% 100%;
}
.house4{
  background-image: url(./images/house4.jpg);
  background-size: 100% 100%;
}
.house5{
  background-image: url(./images/house2.jpg);
  background-size: 100% 100%;
}
.house6{
  background-image: url(./images/house5.jpg);
  background-size: 100% 100%;
}
.house7{
  background-image: url(./images/house4.jpg);
  background-size: 100% 100%;
}
.house8{
  background-image: url(./images/house3.jpg);
  background-size: 100% 100%;
}
.pic1{
  background-image:linear-gradient(rgba(0, 0, 0, 0.262),rgba(0, 0, 0, 0.405)), url(./images/team1.jpg) !important;
  background-size: 100% 100%;
}
.pic2{
  background-image:linear-gradient(rgba(0, 0, 0, 0.262),rgba(0, 0, 0, 0.405)), url(./images/team2.jpg);
  background-size: 100% 100%;
}
.pic3{
  background-image:linear-gradient(rgba(0, 0, 0, 0.383),rgba(0, 0, 0, 0.475)), url(./images/team3.jpg);
  background-size: 100% 100%;
}
.pic4{
  background-image:linear-gradient(rgba(0, 0, 0, 0.262),rgba(0, 0, 0, 0.405)), url(./images/team4.jpg);
  background-size: 100% 100%;
}
.line{
  border-bottom: 2px solid rgba(0, 0, 0, 0.461);
}

